{% from 'utilities/rsync_datafiles.jst' import rsync_sample_datafiles with context %}
{% from 'modules/qc/snpsniffer.jst' import snpsniffer with context %}}

{% macro qc(samples) %}

{% if tasks.cohort_analysis_snpsniffer | default(true) %}
    {% set location %}temp/cohort_analysis/snpsniffer/{{ study }}{% endset %}
    {{- rsync_sample_datafiles(samples, 'snpsniffer', 'snpsniffer_vcf', location) }}
    {{- snpsniffer(samples) }}
{% endif %}

{% endmacro %}