{% if tasks is not defined %}
    {% set tasks = {} %}
{% endif %}

{% from 'utilities/rsync_datafiles.jst' import rsync_sample_datafiles with context %}
{% from 'modules/joint_variant_calling/main.jst' import joint_variant_calling with context %}
{% from 'modules/qc/main.jst' import qc with context %}

{% set samples = {} %}

{% for file in dataFiles %}
    {% set name %}{{ file.rgsm }}{% endset %}
    {% do file.update({'name': name}) %}
    
    {% if file.glType is defined %}
    {% do file.update({'gltype': file.glType.lower()}) %}
    {% endif %}
    
    {% if file.glPrep is defined %}
    {% do file.update({'glprep': file.glPrep.lower()}) %}
    {% endif %}

    {% if file.sex is defined %}
        {% if file.sex.lower() == 'male' %}
            {% do file.update({'sex': 1}) %}
        {% elif file.sex.lower() == 'female' %}
            {% do file.update({'sex': 2}) %}
        {% else %}
            {% do file.update({'sex': 0}) %}
        {% endif %}
    {% else %}
        {% do file.update({'sex': 0}) %}
    {% endif %}

    {% if file.phenotype is defined %}
        {% if file.phenotype.lower() == 'unaffected' %}
            {% do file.update({'phenotype': 1}) %}
        {% elif file.phenotype.lower() == 'affected' %}
            {% do file.update({'phenotype': 2}) %}
        {% else %}
            {% do file.update({'phenotype': 0}) %}
        {% endif %}
    {% else %}
        {% do file.update({'phenotype': 0}) %}
    {% endif %}

    {% if file.aligner is not defined %}
        {% do file.update({'aligner': 'bwa'}) %}
    {% endif %}

    {# Setting up expected paths #}
    {% set snpsniffer_vcf %}{{ file.patientID }}/{{ file.gltype }}/alignment/{{ file.aligner }}/{{ file.sampleMergeKey }}/stats/{{ file.sampleMergeKey }}.{{ file.aligner }}.bam.snpSniffer.vcf{% endset %}
    {% set sigprofiler_vcf %}{{ file.patientID }}/{{ file.gltype }}/alignment/{{ file.aligner }}/stats/{{ file.sampleMergeKey }}.{{ file.aligner }}.bam.snpSniffer.vcf{% endset %}
    {% set deepvariant_gvcf %}{{ file.patientID }}/{{ file.gltype }}/constitutional_variant_calls/deepvariant/{{ file.sampleMergeKey }}/{{ file.sampleMergeKey }}.{{ file.aligner }}.deepvariant.all.g.vcf.gz{% endset %}
    {% set haplotypecaller_gvcf %}{{ file.patientID }}/{{ file.gltype }}/constitutional_variant_calls/haplotypecaller/{{ file.sampleMergeKey }}/{{ file.sampleMergeKey }}.{{ file.aligner }}.hc.g.vcf.gz{% endset %}

    {% do file.update({'snpsniffer_vcf': snpsniffer_vcf}) %}
    {% do file.update({'sigprofiler_vcf': sigprofiler_vcf}) %}
    {% do file.update({'deepvariant_gvcf': deepvariant_gvcf}) %}
    {% do file.update({'haplotypecaller_gvcf': haplotypecaller_gvcf}) %}

    {% if name not in samples %}
        {% do samples.update({name: {}}) %}
        {% do samples[name].update(file) %}
    {% endif %}
{% endfor %}

{{- joint_variant_calling(samples) }}

{{- qc(samples) }}