{% from 'utilities/rsync_datafiles.jst' import rsync_sample_datafiles with context %}
{% from 'modules/metrics/sigprofiler.jst' import sigprofiler with context %} #}

{% macro cohort_analysis(samples) %}

{% if tasks.cohort_analysis_sigprofiler | default(true) %}
    {% set gltype = 'genome' %}
    {% set location %}temp/{{ gltype }}/cohort_analysis/sigprofiler/{{ study }}{% endset %}
    {{- rsync_sample_datafiles(samples, 'gatk', 'haplotypecaller_gvcf', location) }}
    {{- sigprofiler(family) }}
{% endif %}

{% endmacro %}
