{% macro glnexus(trio, input_type) %}

{% set temp_dir %}temp/joint_variant_calling/{{ input_type }}/{{ trio.name }}{% endset %}
{% set results_dir %}joint_variant_calling/{{ input_type }}/{{ trio.name }}{% endset %}

- name: glnexus_{{ trio.name }}_{{ input_type }}
  input:
    - {{ temp_dir }}/{{ trio.individual.deepvariant_gvcf | basename }}
    - {{ temp_dir }}/{{ trio.maternal.deepvariant_gvcf | basename }}
    - {{ temp_dir }}/{{ trio.paternal.deepvariant_gvcf | basename }}
  output: {{ trio.name }}.bcf
  tags: [glnexus, joint_variant_calling, ]
  cpus: 8
  mem: 40G
  walltime: "3-00:00:00"
  docker_image: {{ constants.tools.glnexus.docker }}
  cmd: |
    set -euo pipefail

    mkdir -p {{ results_dir }}/{{ trio.name }}_glnexus_db

    echo {{ temp_dir }}/{{ trio.individual.deepvariant_gvcf | basename }} > {{ temp_dir }}/{{ trio.name }}_gvcf_list.txt
    echo {{ temp_dir }}/{{ trio.maternal.deepvariant_gvcf | basename }} >> {{ temp_dir }}/{{ trio.name }}_gvcf_list.txt
    echo {{ temp_dir }}/{{ trio.paternal.deepvariant_gvcf | basename }} >> {{ temp_dir }}/{{ trio.name }}_gvcf_list.txt

    rm -r {{ temp_dir }}/{{ trio.name }}_glnexus_db &>/dev/null || true
    
    glnexus_cli \
      --threads 8 \
      --mem-gbytes 40 \
      --dir {{ temp_dir }}/{{ trio.name }}_glnexus_db \
      --config {{ input_type }} \
      --list {{ temp_dir }}/{{ trio.name }}_gvcf_list.txt \
      > {{ results_dir }}/{{ trio.name }}.bcf

{% endmacro %}
