{% from 'utilities/rsync_datafiles.jst' import rsync_sample_datafiles with context %}
{% from 'modules/joint_variant_calling/glnexus.jst' import glnexus with context %}
{# {% from 'modules/joint_variant_calling/deepvariant.jst' import deepvariant with context %} #}

{% macro joint_variant_calling(samples) %}

{% set trios = [] %}
{% if joint_variant_calling_trios is defined %}
  {#
  # trios can be a predefined list of objects:
  # [{"individual": <individual name>, "maternal": <maternal name>, "paternal": <paternal name>},...]
  #}
  {% for trio in joint_variant_calling_trios %}
    {% set individual = samples[trio.individual] %}
    {% set maternal = samples[trio.maternal] %}
    {% set paternal = samples[trio.paternal] %}
    {% set trio_name = individual.name + '-' + maternal.patientID + '-' + paternal.patientID %}

    {% do trios.append({'name': trio_name, 'gltype': individual.gltype, 'individual': individual, 'maternal': maternal, 'paternal': paternal}) %}
  {% endfor %}
{% else %}
  {% for individual in samples.values() if individual.subGroup|lower == 'tumor' and tumor.gltype == 'exome' %}
    {% for normal in samples.values() if normal.subGroup|lower == 'constitutional' and normal.gltype == 'exome' %}
      {% set trio_name = individual.name + '-' + maternal.name + '-' + paternal.name %}
      {% do trios.append({'name': trio_name, 'gltype': individual.gltype, 'individual': individual, 'maternal': maternal, 'paternal': paternal}) %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% for trio in trios %}

{% if tasks.joint_variant_calling_glnexus_deepvariant | default(true) %}
  {% if trio.gltype == 'exome' %}
    {% set input_type = 'DeepVariantWES' %}
  {% elif trio.gltype == 'genome' %}
    {% set input_type = 'DeepVariantWGS' %}
  {% endif %}
  {% set location %}temp/joint_variant_calling/{{ input_type }}/{{ trio.name }}{% endset %}
  {{- rsync_sample_datafiles(samples, 'deepvariant_gvcf', location) }}
  {{- glnexus(trio, input_type) }}
{% endif %}

{% if tasks.joint_variant_calling_glnexus_haplotypecaller | default(true) %}
  {% set input_type = 'gatk' %}
  {% set location %}temp/joint_variant_calling/{{ input_type }}/{{ trio.name }}{% endset %}
  {{- rsync_sample_datafiles(samples, 'haplotypecaller_gvcf', location) }}
  {{- glnexus(trio, input_type) }}
{% endif %}

{% endfor %}

{% endmacro %}
