{% from 'utilities/rsync_datafiles.jst' import rsync_sample_datafiles with context %}
{% from 'utilities/create_ped.jst' import create_ped with context %}
{% from 'modules/joint_variant_calling/glnexus.jst' import glnexus with context %}
{% from 'modules/joint_variant_calling/gatk.jst' import gatk_joint_genotype with context %}

{% macro joint_variant_calling(samples) %}

{% set families = [] %}
{% if joint_variant_calling_families is defined %}
  {#
  # families can be a predefined list of objects:
  # [{"members": [ "<member name>", "<maternal name>", "<paternal name>" ]},...]
  #}
  {% set members = [] %}
  {% for family in joint_variant_calling_families %}
    {% for member in family.members %}
      {% do members.append(samples[member]) %}
    {% endfor %}
    {% do families.append({'name': familyCode, 'gltype': members[0].gltype, 'members': members}) %}
  {% endfor %}
{% else %}
  {% set members = [] %}
  {% for individual in samples.values() %}
    {% if individual not in members %}
      {% do members.append(individual) %}
    {% endif %}
  {% endfor %}
  {% if members | length > 1 %}
    {% do families.append({'name': familyCode, 'gltype': members[0].gltype, 'members': members}) %}
  {% endif %}
{% endif %}

{% for family in families %}
  {{- create_ped(family) }}
  {% if tasks.joint_variant_calling_glnexus_deepvariant | default(true) %}
    {% if family.gltype == 'exome' %}
      {% set config_type = 'DeepVariantWES' %}
    {% elif family.gltype == 'genome' %}
      {% set config_type = 'DeepVariantWGS' %}
    {% endif %}
    {% set location %}temp/{{ family.gltype }}/joint_variant_calling/glnexus/{{ config_type }}/{{ family.name }}{% endset %}
    {{- rsync_sample_datafiles(samples, 'glnexus', 'deepvariant_gvcf', location) }}
    {{- glnexus(family, config_type, 'deepvariant_gvcf') }}
  {% endif %}
  {% if tasks.joint_variant_calling_gatk_joint_genotype | default(true) %}
    {% set location %}temp/{{ family.gltype }}/joint_variant_calling/gatk/{{ family.name }}{% endset %}
    {{- rsync_sample_datafiles(samples, 'gatk', 'haplotypecaller_gvcf', location) }}
    {{- gatk_joint_genotype(family, 'haplotypecaller_gvcf') }}
  {% endif %}
{% endfor %}

{% endmacro %}
