{%- macro snpeff(family, results_dir, input_vcf, variant_caller, final_vcf_prefix) %}

{% set source_pipeline, source_version = pipeline.split('@') %}

- name: snpeff_{{ variant_caller }}_{{ family.name }}
  tags: [{{ family.gltype }}, annotate_vcfs, {{ variant_caller }}, {{ family.name }}]
  input: {{ input_vcf }}
  output:
    - {{ final_vcf_prefix }}.snpeff.full.vcf.gz
    - {{ final_vcf_prefix }}.snpeff.full.vcf.gz.tbi
    - {{ final_vcf_prefix }}.snpeff.can.vcf.gz
    - {{ final_vcf_prefix }}.snpeff.can.vcf.gz.tbi
  walltime: "8:00:00"
  cpus: 4
  mem: 8G
  container: {{ constants.tools.snpeff.container }}
  digest: {{ constants.tools.snpeff.digest }}
  cmd: |
    set -eu
    set -o pipefail

    {# No long options available for the following:
      -t      Use multiple threads (implies '-noStats')
      -c      Config file, apparently the long form breaks stuff
      -hgvs   Use HGVS annotations for amino acid sub-field
      -lof    Add loss of function (LOF) and Nonsense mediated decay (NMD) tags
    #}
    {# Generate full annotation set #}
    snpEff ann \
      -t \
      -c {{ constants.maricopa[source_pipeline].snpeff.snpeff_config }} \
      -dataDir {{ constants.maricopa[source_pipeline].snpeff.snpeff_data }} \
      -hgvs \
      -lof \
      {{ constants.maricopa[source_pipeline].snpeff.snpeff_db }} \
      {{ input_vcf }} \
      | \
    bcftools view --output-type z --output-file {{ final_vcf_prefix }}.snpeff.full.vcf.gz

    bcftools index --threads 4 --tbi --force {{ final_vcf_prefix }}.snpeff.full.vcf.gz

    {# No long options available for the following:
      -t      Use multiple threads (implies '-noStats')
      -c      Config file, apparently the long form breaks stuff
      -hgvs   Use HGVS annotations for amino acid sub-field
      -lof    Add loss of function (LOF) and Nonsense mediated decay (NMD) tags
      -canon  Only use canonical transcripts
    #}
    {# Generate canonical annotation set #}
    snpEff ann \
      -t \
      -c {{ constants.maricopa[source_pipeline].snpeff.snpeff_config }} \
      -dataDir {{ constants.maricopa[source_pipeline].snpeff.snpeff_data }} \
      -canon \
      -hgvs \
      -lof \
      {{ constants.maricopa[source_pipeline].snpeff.snpeff_db }} \
      {{ input_vcf }} \
      | \
    bcftools view --output-type z --output-file {{ final_vcf_prefix }}.snpeff.can.vcf.gz

    bcftools index --threads 4 --tbi --force {{ final_vcf_prefix }}.snpeff.can.vcf.gz

{% endmacro %}
