{% from 'utilities/rsync_datafiles.jst' import rsync_sample_datafiles with context %}
{% from 'modules/cohort_analysis/snpsniffer.jst' import snpsniffer with context %}

{% macro cohort_analysis(samples) %}

{% if tasks.cohort_analysis_snpsniffer | default(true) %}
    {% set location %}temp/cohort_analysis/snpsniffer/{{ study }}{% endset %}
    {{- rsync_sample_datafiles(samples, 'snpsniffer', 'snpsniffer_vcf', location) }}
    {{- snpsniffer(samples) }}
{% endif %}

{#
{% if tasks.cohort_analysis_sigprofiler | default(true) %}
    {% set gltype = 'genome' %}
    {% set location %}temp/{{ gltype }}/cohort_analysis/sigprofiler/{{ study }}{% endset %}
    {{- rsync_sample_datafiles(samples, 'gatk', 'haplotypecaller_gvcf', location) }}
    {{- gatk_joint_genotype(family, 'haplotypecaller_gvcf') }}
{% endif %}
#}

{% endmacro %}
